Repository magic-alt/nvim-cpp-ide, changes with the labels that .github/labeler.yml gives for each.
All labels: enhancement, bug, docs, ci

feat: Add Windows installer and essentials
  LICENSE
  README.md
  assets/demo-lsp.gif.placeholder
  assets/demo-startup.gif.placeholder
  assets/demo-telescope.gif.placeholder
  install.ps1
Labels: enhancement, docs

fix: Improve install.ps1 Git detection and error handling
  install.ps1
Labels: none

fix: Simplify Git detection and improve error handling
  install.ps1
Labels: none

fix: Add Neovim 0.11+ compatibility fixes
  NEOVIM_COMPAT_FIX.md
  config.vim
Labels: enhancement, bug

feat: Complete Lua migration with modern LSP stack
  FIRST_LAUNCH_GUIDE.md
  LUA_MIGRATION_GUIDE.md
  QUICKSTART_LUA.md
  README.md
  first-launch.ps1
  init.lua
  install-local-lua.ps1
  install-lua.ps1
Labels: enhancement, docs

fix: Suppress nvim-lspconfig deprecation warning for Neovim 0.11+
  LSP_CONFIG_GUIDE.md
  init-modern.lua
Labels: none

refactor: modernize lua bootstrap and docs
  CHANGELOG.md
  FIRST_LAUNCH_GUIDE.md
  LSP_CONFIG_GUIDE.md
  NEOVIM_COMPAT_FIX.md
  QUICKSTART_LUA.md
  README.md
  first-launch.ps1
  init-modern.lua
  init.lua
  install-local-lua.ps1
  install-lua.ps1
Labels: enhancement, docs

fix(lsp): correct vim.lsp.config API usage for Neovim 0.11+
  docs/NEOVIM_0.11_LSP_FIX.md
  init.lua
Labels: docs

fix: F4 portable binary execution for Windows (.exe) and Unix
  docs/F4_PORTABLE_BINARY_RUN.md
  init.lua
Labels: docs

refactor: establish modular agent-ready Neovim profiles
  .github/workflows/ci.yml
  README.md
  ROADMAP.md
  init.lua
  install-lua.ps1
  install.sh
  lua/nvim_cpp_ide/agent/init.lua
  lua/nvim_cpp_ide/core/keymaps.lua
  lua/nvim_cpp_ide/core/options.lua
  lua/nvim_cpp_ide/init.lua
  lua/nvim_cpp_ide/lsp.lua
  lua/nvim_cpp_ide/plugins/init.lua
  lua/nvim_cpp_ide/plugins/spec.lua
  lua/nvim_cpp_ide/profile.lua
  lua/nvim_cpp_ide/project/root.lua
  lua/nvim_cpp_ide/tasks.lua
Labels: enhancement, docs, ci

feat: add unified CMake Ninja Make project task engine
  .github/workflows/ci.yml
  README.md
  ROADMAP.md
  docs/PROJECT_TASK_ENGINE.md
  lua/nvim_cpp_ide/project/backends/cmake.lua
  lua/nvim_cpp_ide/project/backends/make.lua
  lua/nvim_cpp_ide/project/backends/ninja.lua
  lua/nvim_cpp_ide/project/config.lua
  lua/nvim_cpp_ide/project/engine.lua
  lua/nvim_cpp_ide/project/path.lua
  lua/nvim_cpp_ide/project/presets.lua
  lua/nvim_cpp_ide/project/root.lua
  lua/nvim_cpp_ide/tasks.lua
  tests/fixtures/cmake-presets/CMakeLists.txt
  tests/fixtures/cmake-presets/CMakePresets.json
  tests/fixtures/cmake-presets/cmake/base-presets.json
  tests/fixtures/cmake-presets/main.c
  tests/fixtures/make/.nvim-cpp-ide.json
  tests/fixtures/make/Makefile
  tests/fixtures/ninja/build.ninja
Labels: enhancement, docs, ci

feat: add agent-native repository foundation
  .github/workflows/ci.yml
  README.md
  ROADMAP.md
  docs/AGENT_FOUNDATION.md
  lua/nvim_cpp_ide/agent/discovery.lua
  lua/nvim_cpp_ide/agent/generator.lua
  lua/nvim_cpp_ide/agent/init.lua
  lua/nvim_cpp_ide/agent/registry.lua
  lua/nvim_cpp_ide/agent/template.lua
  tests/fixtures/agent-project/CLAUDE.md
  tests/fixtures/agent-project/Makefile
  tests/fixtures/agent-project/src/main.c
Labels: enhancement, docs, ci

feat: add IDE-to-agent runtime context bridge
  .github/workflows/ci.yml
  README.md
  ROADMAP.md
  docs/AGENT_CONTEXT_BRIDGE.md
  lua/nvim_cpp_ide/agent/context/collector.lua
  lua/nvim_cpp_ide/agent/context/init.lua
  lua/nvim_cpp_ide/agent/context/render.lua
  lua/nvim_cpp_ide/agent/init.lua
  lua/nvim_cpp_ide/agent/template.lua
  lua/nvim_cpp_ide/project/engine.lua
Labels: enhancement, docs, ci

feat: add agent-safe conflict and diff review workflow
  .github/workflows/agent-review.yml
  README.md
  ROADMAP.md
  docs/AGENT_REVIEW_WORKFLOW.md
  lua/nvim_cpp_ide/agent/conflicts.lua
  lua/nvim_cpp_ide/agent/context/init.lua
  lua/nvim_cpp_ide/agent/context/render.lua
  lua/nvim_cpp_ide/agent/init.lua
  lua/nvim_cpp_ide/agent/recovery.lua
  lua/nvim_cpp_ide/agent/review.lua
  lua/nvim_cpp_ide/agent/template.lua
  tests/agent_review_ci.lua
Labels: enhancement, docs, ci

fix: harden Windows PowerShell remote installer
  .github/workflows/ci.yml
  install-lua.ps1
Labels: ci

fix: pin Treesitter compatibility branches for Neovim 0.11
  lua/nvim_cpp_ide/plugins/spec.lua
Labels: none

ci: exercise real plugin bootstrap on Neovim 0.11
  .github/workflows/neovim-011-plugin-compat.yml
Labels: ci

ci: fix Neovim 0.11 plugin compatibility workflow
  .github/workflows/neovim-011-plugin-compat.yml
Labels: ci

fix: preflight C compiler before plugin sync
  install-lua.ps1
Labels: none

.github/labeler.yml:

enhancement:
  - '**/*.vim'
  - 'README.md'
bug:
  - '**/*.vim'
docs:
  - 'README.md'
  - 'docs/**'
ci:
  - '.github/**'
